gensim==0.13.2
nltk==3.2.1
Unidecode==0.4.19
spacy==1.8.2
six==1.10.0
requests==2.18.1
tabulate==0.7.5
ujson==1.35
numpy==1.13.0
tensorflow==1.1.0
tqdm==4.14.0
matplotlib==1.5.1
beautifulsoup4==4.6.0
scikit_learn==0.18.2
wikipedia==1.4.0
